:root {
  --bg: #f4f6fb;
  --card: #ffffff;
  --text: #111827;
  --muted: #6b7280;

  --primary: #4f46e5;
  --primary-hover: #4338ca;

  --border: #e5e7eb;
  --error: #ef4444;

  --radius: 12px;
  --shadow: 0 8px 24px rgba(0,0,0,0.06);
}


body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: var(--bg);
  color: var(--text);
}


.page-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}


.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 18px;
}


.card-sm {
  padding: 14px;
}


.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.text-muted {
  font-size: 13px;
  color: var(--muted);
}


.input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  outline: none;
  background: white;
}

.input:focus {
  border-color: var(--primary);
}


.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-primary:hover {
  background: var(--primary-hover);
}

.btn-secondary {
  background: #e5e7eb;
  color: #111;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.info {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary);
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  gap: 16px;
}

.mini {
  margin-top: 10px;
  font-size: 13px;
  color: #374151;
  line-height: 1.7;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}